/* main.css */
body {
  margin: 0;
  padding: 0;
  box-sizing:border-box;
  font-family: Arial, sans-serif;
  font-size: 16px;
  font-weight: normal;
  background-color: #FFFFFF;
  color: #353535;
}

nav {
  width: 100%;
  background-color: #F6F5F1;
}

nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

nav ul li {
  float: right;
}

.home {
  float: left;
}

.about {
  padding-right: 16px;
}

nav ul li a, .dropbtn {
  display: inline-block;
  color: #353535;
  text-align: center;
  padding: 12px 16px;
  text-decoration: none;
}

nav ul li a:hover, dropdown:hover .dropbtn {
  text-decoration: underline;
}

nav ul li.dropdown {
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #F6F5F1;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.dropdown-content a {
  color: #353535;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
  border: 1px solid #353535;
}

.dropdown-content a:hover {
  background-color: #FFFFFF;
}

.dropdown:hover .dropdown-content {
  display: block;
}

.last-modified {
  text-align: right;
  margin-top: 16px;
}

.title {
  border: none;
  font-weight: bold;
  text-align: center;
  color: #3A5A40;
}

.subtitle {
  border: none;
  font-weight: bold;
  text-align: left;
  color: #3A5A40;
}

hr {
  border: none;
  border-top: 2px solid #3A5A40;
  height: 2px;
  color: #3A5A40;
  overflow: visible;
}

header {
  background-color: #F6F5F1;
  font-size: 16px;
}

main {
  display: -webkit-flex;
  display: flex;
}

.column {
  padding: 0 10px;
}

.contents,
.spacer {
   -webkit-flex: 1;
   -ms-flex: 1;
   flex: 1;
}

article {
  -webkit-flex: 3;
  -ms-flex: 3;
  flex: 3;
}

footer {
  background-color: #F6F5F1;
  padding: 5px;
  text-align: center;
  font-size: 12px;
}
