@import "variables.css";

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, sans-serif;
  font-size: 16px;
  font-weight: normal;
  color: var(--text-color);
  min-height: 100vh;
}

.last-modified {
  text-align: right;
  margin: 12px 0 0;
}

.title {
  margin: 12px 0 0;
  border: none;
  font-size: 32px;
  font-weight: bold;
  text-align: center;
  color: var(--green);
}

.subtitle {
  margin: 12px 0 0;
  border: none;
  font-size: 24px;
  font-weight: bold;
  text-align: left;
  color: var(--green);
}

.separator {
    margin: 16px 0 0 0;
    border: none;
    border-top: 4px double var(--green);
    color: var(--green);
    overflow: visible;
    height: 6px;
}

header {
	height: var(--header-height);
}

main {
  display: flex;
	min-height: calc(100vh - var(--header-height) - var(--footer-height));
}

.contents,
.related {
   flex: 1;
}

article {
  flex: 3;
}
