/* || Variables */
:root {
  --white: #FFFFFF;
  --cosmic-latte: #FCF6E4;
  --pearl: #E1D8C1;
  --reseda-green: #5C7457;
  --feldgrau: #394C39;
  --black-olive: #443F33;
  --eerie-black: #1B1B1B;
  --dim-gray: #646464;

  --bg-color: var(--white);
  --bg-accent-color: var(--pearl);
  --text-color: var(--eerie-black);
  --text-accent-color: var(--dim-gray);
}

/* || Global */
* {
	box-sizing: border-box;
}

body {
  margin: 0;
  min-height: 100vh;
  background-color: var(--bg-color);
  color: var(--text-color);
  font-family: Arial, Helvetica, sans-serif;
  font-size: 1rem;
  line-height: 1.5;
  display: flex;
  flex-direction: column;
}

/* || Header */
header {
  min-width: 320px;
  display: flex;
  height: 56px;
  padding: 0 16px;
  align-items: center;
  justify-content: space-between;
  background-color: var(--bg-accent-color);
}

header .logo {
  display: flex;
  align-items: center;
}

header .logo .image {
  text-decoration: none;
  color: var(--text);
  margin: 0 16px 0 0;
  line-height: 1;
}

header .logo .image svg {
  display: inline-block;
  user-select: none;
  vertical-align: text-bottom;
}

header .logo .title {
  text-decoration: none;
  color: var(--text-color);
  display: inline-block;
  font-weight: 600;
}

header .logo .title:hover {
  text-decoration: underline;
}

header nav .expanded {
  display: none;
  align-items: center;
}

/* || Expanded header nav */
.expanded nav {
  display: flex;
  justify-content: space-between;
  gap: 16px;
}

.expanded nav > a,
.expanded .dropdown {
  font-size: 0;
	padding: 16px 8px;
}

.expanded .dropdown {
  display: flex;
  align-items: center;
  position: relative;
}

.expanded nav a {
  font-size: 1rem;
  text-decoration: none;
  color: var(--text-color);
}

.expanded nav a:hover {
  text-decoration: underline;
}

.expanded .dropdown button {
  min-height: 24px;
  min-width: 24px;
  border: none;
  background-color: var(--bg-accent-color);
	cursor: pointer;
  margin-left: 8px;
  padding: 0;
}

.expanded .dropdown button svg {
  display: inline-block;
  user-select: none;
  vertical-align: text-bottom;
  transition: transform 0.4s
}

.expanded .dropdown-content {
  z-index: 1;
  position: absolute;
  visibility: hidden;
  opacity: 0;
  right: 0;
  top: 32px;
  width: 100%;
  background-color: var(--bg-color);
  border: 1px solid rgba(100, 100, 100, 0.25);
  border-radius: 6px;
  box-shadow: rgba(100, 100, 100, 0.04) 1px 1px 0px, rgba(255, 255, 255, 0.25) 1px 1px 0px inset;
  transition: transform 0.4s;
  transform: translateY(0);
}

.expanded .dropdown-content a {
  display: block;
  text-align: left;
  padding-top: 8px;
  padding-bottom: 8px;
  padding-left: 8px;
  height: 42px;
  /* border-bottom: 1px solid rgba(100, 100, 100, 0.15); */
}

.expanded .dropdown-content a:not(:last-of-type) {
  border-bottom: 1px solid rgba(100, 100, 100, 0.25);
}

/* || Collapsed header nav */
header nav .collapsed {
  display: flex;
}

.collapsed button {
  min-height: 32px;
  min-width: 32px;
	border-radius: 6px;
	border: 1px solid rgba(100, 100, 100, 0.25);
	cursor: pointer;
	user-select: none;
	padding: 6px 12px;
	background-color: var(--bg-color);
	box-shadow: rgba(100, 100, 100, 0.04) 1px 1px 0px, rgba(255, 255, 255, 0.25) 1px 1px 0px inset;
}

.collapsed button svg {
  display: inline-block;
  user-select: none;
  vertical-align: text-bottom;
}

.collapsed .toc {
  z-index: 2;
  width: 220px;
  position: fixed;
  top: 0px;
  right: 0px;
  bottom: 0px;
  overflow: auto;
  display: none;
  height: 100%;
  background-color: var(--bg-color);
  border-left: 1px solid rgba(100, 100, 100, 0.25);
}

.collapsed .toc .header {
  display: flex;
  height: 56px;
  padding: 0 16px;
	align-items: center;
	justify-content: space-between;
  background-color: var(--bg-accent-color);
}

.collapsed .toc .header h2 {
  font-size: 1rem;
}

.collapsed .toc .header a {
  font-weight: 600;
  padding: 16px 8px;
	color: var(--text-color);
	text-decoration: none;
}

.collapsed .toc .header a:hover {
  text-decoration: underline;
}

.collapsed .toc nav ul {
  list-style: none;
  padding-left: 16px;
  padding-right: 16px;
  margin: 0;
}

.collapsed .toc nav ul li {
  display: flex;
  align-items: center;
  padding-left: 8px;
  padding-right: 8px;
  height: 56px;
  padding-top: 8px;
}

.collapsed .toc nav ul li:not(:last-of-type) {
  border-bottom: 1px solid rgba(100, 100, 100, 0.25);
}

.collapsed .toc nav ul li a {
  text-decoration: none;
  color: inherit;
  position: relative;
  top: 0;
  transition: top ease 0.2s;
}

.collapsed .toc nav ul li a:hover {
  text-decoration: underline;
  top: -4px;
}

/* || Main */
main {
  display: flex;
  flex: 1 1 auto;
  min-width: 320px;
  min-height: 256px;
}

main .contents {
  display: none;
  position: sticky;
  width: 220px;
  overflow: auto;
	height: 100%;
	padding-left: 8px;
	padding-right: 8px;
  border-right: 1px solid rgba(100, 100, 100, 0.15);
}

main .contents nav ul {
  margin: 0;
  padding-left: 0;
  padding-top: 8px;
}

main .contents nav ul li {
	display: flex;
  font-size: 0.875rem;
	line-height: 1.25rem;
	margin-left: 8px;
	margin-right: 8px;
	color: var(--text-accent-color);
}

main .contents nav ul li:not(:first-child) {
  margin-top: 8px;
}

main .contents nav ul li a {
	text-decoration: none;
	padding: 6px 8px;
	color: inherit;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

main .contents nav ul li a:hover {
  color: var(--text-color);
}

.article-wrapper {
  display: flex;
  flex-direction: row-reverse;
  max-width: 1200px;
  margin: 0 auto;
  width: 100%;
  padding: 24px;
  justify-content: space-around;
}

/* || Related */
.related {
  width: 220px;
  flex: 0 0 auto;
  display: none;
  position: sticky;
  top: 104px;
  max-height: calc(-104px + 100vh);
  overflow: auto;
  margin-left: 48px;
}

.related > * {
  border-left: 1px solid rgba(100, 100, 100, 0.15);
}

.related h2 {
	margin: 0;
  font-size: 0.875rem;
	display: inline-block;
	font-weight: 600;
	padding-left: 16px;
}

.related nav ul {
  margin: 0;
  padding-left: 0;
  padding-top: 8px;
}

.related nav ul li {
	display: flex;
  font-size: 0.875rem;
	line-height: 1.25;
	margin-left: 8px;
	margin-right: 8px;
	color: var(--text-accent-color);
}

.related nav ul li a {
  text-decoration: none;
  padding: 6px 8px;
  color: inherit;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.related nav ul li a:hover {
  text-decoration: underline;
  color: var(--text-color);
}

/* || Article */
article {
  width: 100%;
  max-width: 840px;
}

article img {
  max-width: 100%;
  object-fit: cover;
}

article .title {
  font-weight: 600;
  font-size: 3.2rem;
  margin: 0;
  text-align: center;
}

article .subtitle {
  font-weight: 600;
  font-size: 2.4rem;
  margin: 0;
}

article .last-modified {
  text-align: right;
  margin-top: 8px;
  color: var(--text-accent-color);
}

article .separator {
  margin-top: 8px;
  margin-bottom: 8px;
  border-top: 4px double var(--text-accent-color);
}

/* || Footer */
footer {
  text-align: center;
  margin-top: 64px;
  padding-top: 32px;
  padding-bottom: 32px;
  border-top: 1px solid rgba(100, 100, 100, 0.25);
}

footer p {
  font-size: 0.875rem;
  color: var(--text-accent-color);
}

/* || Quote */
.quote > p {
  text-align: right;
  margin-right: 40px;
  color: var(--text-accent-color);
}

blockquote {
  font-style: italic;
  color: var(--text-accent-color);
}

blockquote > p:before,
blockquote > p:after {
  content: "\"";
}

/* || Four Lines Form */


/* || Responsive */
@media screen and (min-width: 544px) {
  .article-wrapper {
    padding: 32px;
  }
}
  
@media screen and (min-width: 768px) {
  /* 2 column layout */
  .article-wrapper {
    padding: 48px;
  }
  
  .related {
    display: block;
  }
}

@media screen and (min-width: 1012px) {
  /* 3 column layout */
  header {
    padding: 0 24px;
  }
  
  header nav .expanded {
    display: flex;
  }
  
  header nav .collapsed {
    display: none;
  }

  main .contents {
    display: block;
  }
}

/* || Special */
#dimmer {
  background-color: #000000;
  opacity: 0.5;
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
}

#dropdown-arrow.drop {
  transform: rotate(180deg);
}

#dropdown-arrow:hover:not(.drop) {
  transform: rotateY(180deg);
}

#dropdown-content.show {
  visibility: visible;
  opacity: 1;
  transform: translateY(1rem);
}

#toc.show {
  display: flex;
  flex-direction: column;
}

#about a.about,
#four-lines a.four-lines,
#home a.home,
#journal a.journal,
#pages a.pages,
#sitemap a.sitemap {
  pointer-events: none;
  cursor: default;
}
