@import "variables.css";

nav {
  width: 100%;
  background-color: var(--bg-accent-color);
  display: inline-block;
  line-height: 0;
}

nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

nav ul li {
  margin: 12px 0;
  padding: 0;
  float: right;
}

nav ul li:first-child {
  margin-right: 16px;
}

nav ul li:last-child {
  margin-left: 16px;
  float: left;
}

nav ul li a {
  display: inline-block;
  color: var(--text-color);
  text-align: center;
  margin: 12px 16px;
  text-decoration: none;
}

nav ul li a:hover {
  text-decoration: underline;
}

.dropdown-container {
  position: relative;
}

.dropdown-button {
  position: relative;
  background: var(--bg-accent-color);
  color: var(--text-color);
  cursor: pointer;
  border-radius: 8px;
  border: none;
  padding: 0;
  height: 24px;
  width: 24px;
}

.dropdown-button:hover {
  background-color: var(--bg-accent-hover-color);
  box-shadow: var(--shadow);
}

.dropdown-content {
  position: absolute;
  visibility: hidden;
  opacity: 0;
  transform: translateY(0rem);
  transition: all 0.1s cubic-bezier(0.16, 1, 0.5, 1);
  right: 0;
  width: 101.3667px;
  background: var(--bg-accent-color);
  border-radius: 8px;
  margin: 0;
  box-shadow: var(--shadow);
}

.dropdown-content a {
  text-align: left;
  width: 84%;
  line-height: normal;
  padding: 8px;
  margin: 0;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
  background-clip: padding-box;
}

.dropdown-content a:first-child {
  border-radius: 8px 8px 0 0;
}

.dropdown-content a:last-child {
  border-radius: 0 0 8px 8px;
  border: none;
}

.dropdown-content a:hover {
  background-color: var(--bg-accent-hover-color);
}

.show {
  visibility: visible;
  opacity: 1;
  transform: translateY(0.5rem);
}

.drop {
  transform: rotate(180deg);
}

.highlight {
  background-color: var(--bg-accent-click-color);
  box-shadow: var(--shadow);
}

.highlight:hover {
  background-color: var(--bg-accent-click-color);
  box-shadow: var(--shadow);
}
